<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Booter</key>
	<dict>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>SignalAppleOS</key>
			<false/>
			<key>EnableWriteUnprotector</key>
			<true/>
			<key>EnableSafeModeSlide</key>
			<false/>
			<key>AvoidRuntimeDefrag</key>
			<true/>
			<key>ProtectMemoryRegions</key>
			<false/>
			<key>ProtectSecureBoot</key>
			<false/>
			<key>ProtectUefiServices</key>
			<false/>
			<key>DiscardHibernateMap</key>
			<false/>
			<key>DevirtualiseMmio</key>
			<false/>
			<key>ProvideCustomSlide</key>
			<false/>
			<key>ProvideMaxSlide</key>
			<integer>0</integer>
			<key>RebuildAppleMemoryMap</key>
			<false/>
			<key>DisableSingleUser</key>
			<false/>
			<key>ForceExitBootServices</key>
			<false/>
			<key>SetupVirtualMap</key>
			<true/>
			<key>SyncRuntimePermissions</key>
			<false/>
			<key>DisableVariableWrite</key>
			<false/>
		</dict>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Security</key>
		<dict>
			<key>AllowSetDefault</key>
			<false/>
			<key>AuthRestart</key>
			<false/>
			<key>ApECID</key>
			<integer>0</integer>
			<key>HaltLevel</key>
			<integer>2147483648</integer>
			<key>AllowNvramReset</key>
			<true/>
			<key>BootProtect</key>
			<string>None</string>
			<key>ScanPolicy</key>
			<integer>0</integer>
			<key>SecureBootModel</key>
			<string>Disabled</string>
			<key>DmgLoading</key>
			<string>Signed</string>
			<key>EnablePassword</key>
			<false/>
			<key>PasswordHash</key>
			<data></data>
			<key>PasswordSalt</key>
			<data></data>
			<key>ExposeSensitiveData</key>
			<integer>7</integer>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
		<key>Boot</key>
		<dict>
			<key>PickerMode</key>
			<string>Builtin</string>
			<key>ConsoleAttributes</key>
			<integer>0</integer>
			<key>PickerAudioAssist</key>
			<false/>
			<key>PollAppleHotKeys</key>
			<true/>
			<key>ShowPicker</key>
			<false/>
			<key>TakeoffDelay</key>
			<integer>0</integer>
			<key>HibernateMode</key>
			<string>None</string>
			<key>HideAuxiliary</key>
			<false/>
			<key>Timeout</key>
			<integer>5</integer>
			<key>PickerAttributes</key>
			<integer>0</integer>
		</dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Name</key>
				<string>UEFI Shell</string>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Path</key>
				<string>Shell.efi</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>memcheck</string>
				<key>Arguments</key>
				<string></string>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>Memory testing utility</string>
				<key>Path</key>
				<string>memcheck/memcheck.efi</string>
			</dict>
		</array>
		<key>Entries</key>
		<array>
			<dict>
				<key>Name</key>
				<string>CustomOS</string>
				<key>Arguments</key>
				<string></string>
				<key>Auxiliary</key>
				<false/>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>Not signed for security reasons</string>
				<key>Path</key>
				<string>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)/NVMe(0x1,11-22-33-44-55-66-77-88)/HD(1,GPT,00000000-0000-0000-0000-000000000000,0x800,0x64000)/\EFI\BOOT\BOOTX64.EFI</string>
			</dict>
		</array>
		<key>Debug</key>
		<dict>
			<key>ApplePanic</key>
			<false/>
			<key>DisplayLevel</key>
			<integer>2147483650</integer>
			<key>AppleDebug</key>
			<false/>
			<key>DisplayDelay</key>
			<integer>0</integer>
			<key>Target</key>
			<integer>19</integer>
			<key>SerialInit</key>
			<false/>
			<key>SysReport</key>
			<false/>
			<key>DisableWatchDog</key>
			<false/>
		</dict>
		<key>BlessOverride</key>
		<array/>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array/>
		<key>Emulate</key>
		<dict>
			<key>DummyPowerManagement</key>
			<false/>
			<key>Cpuid1Data</key>
			<data></data>
			<key>Cpuid1Mask</key>
			<data></data>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string></string>
		</dict>
		<key>Force</key>
		<array/>
		<key>Quirks</key>
		<dict>
			<key>AppleXcpmForceBoost</key>
			<false/>
			<key>IncreasePciBarSize</key>
			<false/>
			<key>DisableIoMapper</key>
			<false/>
			<key>DisableLinkeditJettison</key>
			<true/>
			<key>DisableRtcChecksum</key>
			<false/>
			<key>ExtendBTFeatureFlags</key>
			<false/>
			<key>AppleCpuPmCfgLock</key>
			<false/>
			<key>ExternalDiskIcons</key>
			<false/>
			<key>ForceSecureBootScheme</key>
			<false/>
			<key>LapicKernelPanic</key>
			<false/>
			<key>LegacyCommpage</key>
			<false/>
			<key>AppleXcpmExtraMsrs</key>
			<false/>
			<key>PanicNoKextDump</key>
			<false/>
			<key>ThirdPartyDrives</key>
			<false/>
			<key>AppleXcpmCfgLock</key>
			<false/>
			<key>PowerTimeoutKernelPanic</key>
			<false/>
			<key>XhciPortLimit</key>
			<false/>
			<key>CustomSMBIOSGuid</key>
			<false/>
		</dict>
		<key>Block</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>MinKernel</key>
				<string></string>
				<key>Identifier</key>
				<string>com.apple.driver.AppleTyMCEDriver</string>
				<key>Enabled</key>
				<false/>
				<key>MaxKernel</key>
				<string></string>
				<key>Comment</key>
				<string></string>
			</dict>
		</array>
		<key>Add</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
				<key>Comment</key>
				<string></string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
				<key>Comment</key>
				<string>Video card</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
				<key>Comment</key>
				<string>Sound</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>IntelMausi.kext</string>
				<key>Comment</key>
				<string>Wired Network</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelMausi</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>NVMeFix.kext</string>
				<key>Comment</key>
				<string>Apple NVMe storage driver</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NVMeFix</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
				<key>Comment</key>
				<string>VoodooPS2Controller</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooPS2Mouse.kext</string>
				<key>Comment</key>
				<string>Mouse</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Mouse</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooPS2Trackpad.kext</string>
				<key>Comment</key>
				<string>Trackpad</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Trackpad</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooPS2Keyboard.kext</string>
				<key>Comment</key>
				<string>Keyboard</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/Plugins/VoodooInput.kext</string>
				<key>Comment</key>
				<string>VoodooInput</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooInput</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string></string>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
				<key>Comment</key>
				<string>USB Ports</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Scheme</key>
		<dict>
			<key>FuzzyMatch</key>
			<false/>
			<key>KernelArch</key>
			<string>x86_64</string>
			<key>KernelCache</key>
			<string>Auto</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>WriteFlash</key>
		<true/>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacyEnable</key>
		<false/>
		<key>LegacySchema</key>
		<dict>
			<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
			<array>
				<string>Boot0080</string>
				<string>Boot0081</string>
				<string>Boot0082</string>
				<string>BootNext</string>
				<string>BootOrder</string>
			</array>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>EFILoginHiDPI</string>
				<string>EFIBluetoothDelay</string>
				<string>LocationServicesEnabled</string>
				<string>SystemAudioVolume</string>
				<string>SystemAudioVolumeDB</string>
				<string>bluetoothActiveControllerInfo</string>
				<string>bluetoothInternalControllerInfo</string>
				<string>flagstate</string>
				<string>fmm-computer-name</string>
				<string>nvda_drv</string>
				<string>prev-lang:kbd</string>
			</array>
		</dict>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
			</array>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<array>
				<string>UIScale</string>
			</array>
		</dict>
		<key>Add</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string></string>
				<key>nvda_drv</key>
				<data>MQ==</data>
				<key>prev-lang:kbd</key>
				<data>ZW4tVVM6MA==</data>
				<key>csr-active-config</key>
				<data>5wMAAA==</data>
			</dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>UIScale</key>
				<data>AQ==</data>
			</dict>
		</dict>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>APFS</key>
		<dict>
			<key>EnableJumpstart</key>
			<true/>
			<key>GlobalConnect</key>
			<false/>
			<key>HideVerbose</key>
			<true/>
			<key>JumpstartHotPlug</key>
			<false/>
			<key>MinDate</key>
			<integer>0</integer>
			<key>MinVersion</key>
			<integer>0</integer>
		</dict>
		<key>Audio</key>
		<dict>
			<key>AudioSupport</key>
			<false/>
			<key>AudioDevice</key>
			<string>0</string>
			<key>AudioCodec</key>
			<integer>0</integer>
			<key>AudioOut</key>
			<integer>0</integer>
			<key>MinimumVolume</key>
			<integer>20</integer>
			<key>PlayChime</key>
			<false/>
			<key>VolumeAmplifier</key>
			<integer>0</integer>
		</dict>
		<key>ConnectDrivers</key>
		<true/>
		<key>ProtocolOverrides</key>
		<dict>
			<key>DataHub</key>
			<false/>
			<key>AppleAudio</key>
			<false/>
			<key>AppleUserInterfaceTheme</key>
			<false/>
			<key>AppleDebugLog</key>
			<false/>
			<key>UnicodeCollation</key>
			<false/>
			<key>FirmwareVolume</key>
			<false/>
			<key>AppleEvent</key>
			<false/>
			<key>AppleFramebufferInfo</key>
			<false/>
			<key>AppleSmcIo</key>
			<true/>
			<key>AppleRtcRam</key>
			<false/>
			<key>HashServices</key>
			<false/>
			<key>OSInfo</key>
			<false/>
			<key>AppleKeyMap</key>
			<false/>
			<key>AppleImageConversion</key>
			<false/>
			<key>AppleImg4Verification</key>
			<false/>
			<key>AppleBootPolicy</key>
			<false/>
			<key>AppleSecureBoot</key>
			<false/>
			<key>DeviceProperties</key>
			<false/>
		</dict>
		<key>Quirks</key>
		<dict>
			<key>DeduplicateBootOrder</key>
			<true/>
			<key>IgnoreInvalidFlexRatio</key>
			<false/>
			<key>ExitBootServicesDelay</key>
			<integer>0</integer>
			<key>RequestBootVarRouting</key>
			<true/>
			<key>TscSyncTimeout</key>
			<integer>0</integer>
			<key>UnblockFsConnect</key>
			<false/>
			<key>ReleaseUsbOwnership</key>
			<false/>
		</dict>
		<key>Input</key>
		<dict>
			<key>KeyFiltering</key>
			<false/>
			<key>PointerSupportMode</key>
			<string>ASUS</string>
			<key>KeySupportMode</key>
			<string>Auto</string>
			<key>KeySupport</key>
			<true/>
			<key>TimerResolution</key>
			<integer>50000</integer>
			<key>KeyMergeThreshold</key>
			<integer>2</integer>
			<key>KeySwap</key>
			<false/>
			<key>KeyForgetThreshold</key>
			<integer>5</integer>
			<key>PointerSupport</key>
			<false/>
		</dict>
		<key>Output</key>
		<dict>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
			<key>ConsoleMode</key>
			<string></string>
			<key>Resolution</key>
			<string>Max</string>
			<key>ClearScreenOnModeSwitch</key>
			<false/>
			<key>IgnoreTextInGraphics</key>
			<false/>
			<key>ProvideConsoleGop</key>
			<true/>
			<key>DirectGopRendering</key>
			<false/>
			<key>ForceResolution</key>
			<false/>
			<key>ReconnectOnResChange</key>
			<false/>
			<key>ReplaceTabWithSpace</key>
			<false/>
			<key>SanitiseClearScreen</key>
			<false/>
			<key>UgaPassThrough</key>
			<false/>
		</dict>
		<key>Drivers</key>
		<array>
			<string>OpenUsbKbDxe.efi</string>
			<string>OpenRuntime.efi</string>
			<string>HFSPlus.efi</string>
		</array>
		<key>ReservedMemory</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>268435456</integer>
				<key>Type</key>
				<string>Reserved</string>
				<key>Comment</key>
				<string>HD3000: IGPU memory corruption errata</string>
				<key>Enabled</key>
				<false/>
				<key>Size</key>
				<integer>268435456</integer>
			</dict>
		</array>
	</dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>CwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>force-online</key>
				<data>AQAAAA==</data>
				<key>complete-modeset</key>
				<data>AQAAAA==</data>
				<key>complete-modeset-framebuffers</key>
				<data>AAAAAAAAAAE=</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x6)</key>
			<dict>
				<key>name</key>
				<string>Intel(R) Ethernet Connection (4) I219-V</string>
			</dict>
		</dict>
		<key>Delete</key>
		<dict/>
	</dict>
	<key>ACPI</key>
	<dict>
		<key>Delete</key>
		<array>
			<dict>
				<key>TableLength</key>
				<integer>0</integer>
				<key>OemTableId</key>
				<data>Q3B1UG0AAAA=</data>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
				<key>All</key>
				<false/>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>Drop CpuPm</string>
			</dict>
			<dict>
				<key>TableLength</key>
				<integer>0</integer>
				<key>OemTableId</key>
				<data>Q3B1MElzdAA=</data>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
				<key>All</key>
				<false/>
				<key>Enabled</key>
				<false/>
				<key>Comment</key>
				<string>Drop Cpu0Ist</string>
			</dict>
		</array>
		<key>Patch</key>
		<array>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WlBUUwE=</data>
				<key>Comment</key>
				<string>_PTS to ZPTS(1,N)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1BUUwE=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WldBSwk=</data>
				<key>Comment</key>
				<string>_WAK to ZWAK(1,S)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1dBSwk=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFBSVwI=</data>
				<key>Comment</key>
				<string>GPRW to XPRW</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>R1BSVwI=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExMw==</data>
				<key>Comment</key>
				<string>_Q13 to XQ13(FN+4)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExMw==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExNA==</data>
				<key>Comment</key>
				<string>_Q14 to XQ14(up)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExNA==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExNQ==</data>
				<key>Comment</key>
				<string>_Q15 to XQ15(down)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExNQ==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFExNg==</data>
				<key>Comment</key>
				<string>_Q16 to XQ16(dualScreen)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1ExNg==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2QQ==</data>
				<key>Comment</key>
				<string>_Q6A to XQ6A(Microphone)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2QQ==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2NA==</data>
				<key>Comment</key>
				<string>_Q64 to XQ64(Wireless)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2NA==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2Ng==</data>
				<key>Comment</key>
				<string>_Q66 to XQ66(Settings)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2Ng==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2MA==</data>
				<key>Comment</key>
				<string>_Q60 to XQ60(Bluetooth)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2MA==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2MQ==</data>
				<key>Comment</key>
				<string>_Q61 to XQ61(Keyboard)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2MQ==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2Mg==</data>
				<key>Comment</key>
				<string>_Q62 to XQ62(Star)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2Mg==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WFE2NQ==</data>
				<key>Comment</key>
				<string>_Q65 to XQ65(CutScreen)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>X1E2NQ==</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WEJJRgM=</data>
				<key>Comment</key>
				<string>battery GBIF03 to XBIF03</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>R0JJRgM=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WEJTVAQ=</data>
				<key>Comment</key>
				<string>battery GBST04 to XBST04</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>R0JTVAQ=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Mask</key>
				<data></data>
				<key>OemTableId</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
				<key>TableLength</key>
				<integer>0</integer>
				<key>ReplaceMask</key>
				<data></data>
				<key>Replace</key>
				<data>WEJJWAM=</data>
				<key>Comment</key>
				<string>battery GBIX03 to XBIX03</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Find</key>
				<data>R0JJWAM=</data>
				<key>TableSignature</key>
				<data></data>
				<key>Enabled</key>
				<true/>
				<key>Limit</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Quirks</key>
		<dict>
			<key>NormalizeHeaders</key>
			<false/>
			<key>ResetHwSig</key>
			<false/>
			<key>RebaseRegions</key>
			<false/>
			<key>ResetLogoStatus</key>
			<false/>
			<key>FadtEnableReset</key>
			<false/>
		</dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Notebook Battery</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Battery.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>plugin-type=1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Notebook brightness</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SMBUS</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SBUS.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Thinkpad Keyboard</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Keyboard-X1C6.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Sleep and WakeUp</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-SLPWAK-X1C6.aml</string>
			</dict>
		</array>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Generic</key>
		<dict>
			<key>SystemSerialNumber</key>
			<string>C02T6KZXHV29</string>
			<key>SystemProductName</key>
			<string>MacBookPro14,1</string>
			<key>SystemMemoryStatus</key>
			<string>Auto</string>
			<key>SystemUUID</key>
			<string>D6B7373F-0BE6-46FF-9872-1F0B3BF9596C</string>
			<key>SpoofVendor</key>
			<true/>
			<key>AdviseWindows</key>
			<false/>
			<key>ProcessorType</key>
			<integer>0</integer>
			<key>ROM</key>
			<data>atHQ+Vls</data>
			<key>MLB</key>
			<string>C02705310J9HWVPJA</string>
		</dict>
		<key>UpdateNVRAM</key>
		<true/>
		<key>Automatic</key>
		<true/>
		<key>CustomMemory</key>
		<false/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
</dict>
</plist>
